<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials/about.css">
</head>
<body>

    <div id="about">

        <div>
            <h2>What is IO Fest?</h2>
            <p>I/O Festival 2024 merupakan acara terbesar yang diselenggarakan oleh Badan Eksekutif Mahasiswa Fakultas Tekologi Informasi (BEM FTI) Universitas Tarumanagara, dimana pelajar dari berbagai tingkatan, baik universitas maupun SMA/SMK, diundang untuk berkompetisi dalam berbagai bidang lomba, seperti:</p>

            <ul>
                <li>UI/UX Design</li>
                <li>Web Development</li>
                <li>Business Plan</li>
                <li>Game Development</li>
            </ul>
        </div>

        <img class="about-image" src="what-is-io.png" alt="main-logo">
    </div>
    
</body>
