<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/partials/sponsors.css">
</head>
<body>
    <div id="sponsors">
        <%- include('../components/title', { title: 'Sponsors & Media Partners' }) %>

        <div class="sponsor-box">
            <img src="/mapala.jpeg" alt="mapala">
            <img src="/msi.jpeg" alt="msi">
            <img src="/starlink.jpeg" alt="starlink">
            <img src="/amg.jpeg" alt="amg">
            <img src="/tesla.png" alt="tesla">
            <img src="/acer.png" alt="acer">
            <img src="/untarLogo.svg" alt="Untar">
            <img src="/ss.png" alt="ss">
            <img src="/imperialJapan.jpg" alt="Imperial Japan">

        </div>

    </div>
</body>

</html>
