<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/icon.png" rel="icon">

    <!-- Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/pages/change-password-form.css">

    <title>Competition Info</title>
</head>

<body>
    <button class="back">Back</button>
    <form 
        class="change-password-form" 
        action="<%= endpointAPI %>" 
        method="post"
    >
        <h1>Change Password</h1>

        <div>
            <label for="password">New Password</label>
            <input type="password" id="password" name="newPass" value="">
        </div>

        <div>
            <label for="confirm">Confirm Password</label>
            <input type="password" id="confirm" value="">
        </div>
        <span class="msg"></span>


        <button type="submit" disabled>Save</button>
    </form>
    
    <script>
        const passInput = document.querySelector('input#password');
        const confirmPassInput = document.querySelector('input#confirm');
        const submitBtn = document.querySelector('button[type=submit]');
        const passLabel = document.querySelector('span.msg');
        submitBtn.disabled = true;

        function validPassword() {
            const empty = passInput.value === ''
                || passInput.value === null;

            const validLength = passInput.value.length >= 8;

            const validConfirm = 
                passInput.value === confirmPassInput.value;

            if (empty) {
                passLabel.textContent = '';
            } else if (!validLength) {
                passLabel.textContent = 'At least 8 characters.';
            } else if (!validConfirm && (confirmPassInput.value !== '' || confirmPassInput.value !== null)) {
                passLabel.textContent = 'Password does not match.';
            } else {
                passLabel.textContent = '';
                return true;
            }

            return false;
        }

        function setButtonStatus() {
            const pass = validPassword();

            if (pass)
                submitBtn.disabled = false;
            else 
                submitBtn.disabled = true;
        }


        const inputs = [passInput, confirmPassInput];
        inputs.forEach(item => item.addEventListener('input', setButtonStatus));

        const backBtn = document.querySelector('button.back');
        backBtn.addEventListener('click', () => {
            window.location.href = '/dashboard/settings';
        });

        submitBtn.addEventListener('click', () => {
            window.location.href = '/dashboard/settings';
        });

    </script>
</body>
</html>
